<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
<!--    <link rel="stylesheet" href="/css/style.css">-->
    <title>All</title>
</head>
<body>
    <h1><a href="/">Main</a></h1>
    <hr>
    <h2>All posts</h2>
    <hr>
    <div th:each="post : ${posts}" class="post">
        <p style="margin-left: 30px"><b th:text="${post.title}"/>   <small th:text="${post.creationDate}"/><p>
        <img th:src="@{images/} + ${post.photoName}" th:height="${post.hasImage}? 200px : 0px" style="margin-left: 50px">
        <p th:text="${post.description}" style="margin-left: 50px"></p>
        <hr>
    </div>
</body>
</html>