<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="styles/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <title>Document</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark dark">
            <a class="navbar-brand" href="/"><h1>Main</h1></a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link my-nav-link" href="/post/new">Upload</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <div th:each="post : ${posts}" class="post">

        <p style="margin-left: 30px"><a th:href="@{/post/{id}(id=${post.getPost_id()})}"><b th:text="${post.title}"/></a>   <small th:text="${post.creationDate}"/><p>

        <div th:if="${post.hasImage}" style="margin-left: 50px">
            <img th:src="@{resources/images/} + ${post.photoName}" height="200px">
        </div>

        <p th:text="${post.description}" style="margin-left: 50px"></p>

        <p style="margin-left: 50px">Comments: <span th:text="${post.commentCount}"/></p>

        <hr>
    </div>


    <footer class="d-flex flex-wrap justify-content-center align-items-center dark" style="height:80px">
        <div class="col-md-4 d-flex align-items-center">
            <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
                Main &nbsp;
            </a>
            <span class="text-muted">&copy; 2021 Company, Inc</span>
        </div>

        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
            <li class="ms-3"><a class="text-muted" href="#">Twitter&nbsp;</a></li>
            <li class="ms-3"><a class="text-muted" href="#">Instagram&nbsp;</a></li>
            <li class="ms-3"><a class="text-muted" href="#">Facebook&nbsp;</a></li>
        </ul>
    </footer>
</body>
</html>