<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <title>Post</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark dark">
            <a class="navbar-brand" href="/"><h1>Main</h1></a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link my-nav-link" href="/post/new">Upload</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    
    <form method="post" enctype="multipart/form-data" th:object="${post}" class="new-post-form">
        <input type="text" name="title"><br>
        <div th:if="${#fields.hasErrors('title')}" th:errors="*{title}"/>
        <br>
        <textarea name="description" id="description" cols="20" rows="10"></textarea>
        <div th:if="${#fields.hasErrors('description')}" th:errors="*{description}"/>
        <br><br>
        <input type="file" name="photo" multiple><br><br>
        <input type="submit" value="Upload"><br>
    </form>

    <footer class="d-flex flex-wrap justify-content-center align-items-center dark" style="height:80px">
        <div class="col-md-4 d-flex align-items-center">
            <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
                Main &nbsp;
            </a>
            <span class="text-muted">&copy; 2021 Company, Inc</span>
        </div>

        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
            <li class="ms-3"><a class="text-muted" href="#">Twitter&nbsp;</a></li>
            <li class="ms-3"><a class="text-muted" href="#">Instagram&nbsp;</a></li>
            <li class="ms-3"><a class="text-muted" href="#">Facebook&nbsp;</a></li>
        </ul>
    </footer>
</body>
</html>