.dark{
    background-color: #252525;
}

.my-nav-link:hover{
    background-color: #404040;
}

.new-post-form{
    margin-top:20px;
    margin-left: 50px;
}

.error{
    padding: 5px;
    border: 2px solid red;
    background-color: #f15252;
    border-radius: 5px;
}
