*{
    text-decoration: none;
}

a span{
    color: black;
}

.dark{
    background-color: #252525;
}

.my-nav-link:hover{
    background-color: #404040;
    border-radius: 5px;
}

.new-post-form{
    margin-top:20px;
    margin-left: 50px;
    margin-bottom:20px;
}

.error{
    padding: 5px;
    border: 2px solid red;
    background-color: #f15252;
    border-radius: 5px;
    width: 200px;
    margin-top: 10px;
}

.post{
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 30px;
    border-bottom: 1px solid #252525;
    width: 95%;
}

.comments{
    margin-bottom: 30px;
    margin-left: 20px;
}

.comment{
    margin-top: 30px;
    margin-left: 50px;
    width: 300px;
    border-left: 1px solid silver;
    padding-left: 20px;
}

.post-img{
    margin: 20px;
}

.my-btn{
    border-radius: 5px;
    margin-bottom: 20px;
}

